@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DDSans";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/DDSans-Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "DDSans";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/DDSans-Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "DDSans";
  font-weight: 400;
  font-style: normal;
  ascent-override: 90%;
  descent-override: 20%;
  src: url("/fonts/DDSans-Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Mazer";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Mazer.otf") format("opentype");
  font-display: swap;
}

@layer base {
  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply pl-10 my-3;
  }

  body {
    @apply bg-brand-background absolute h-full -z-10 overflow-visible inset-0 bg-[url(/img/grid.svg)] bg-center;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Mazer, DDSans, sans-serif;
  }
}

@layer components {
  .btn {
    @apply z-[1] rounded border-2 border-black bg-brand-background p-2 text-2xl font-bold text-black shadow-[2px_2px_0px_rgba(0,0,0,100)] 
  }

  .btn-no-shadow {
    @apply rounded border-2 border-black bg-brand-background p-2 text-2xl font-bold text-black
  }

  .btn-no-bg {
    @apply z-[1] rounded border-2 border-black bg-transparent p-2 text-2xl font-bold text-black shadow-[2px_2px_0px_rgba(0,0,0,100)]  
  }

  .btn-hover {
    @apply hover:shadow-[2px_2px_0px_rgba(242,154,218,100)] hover:border-brand-pink  hover:bg-black hover:bg-opacity-10;
  }
  
  .pink-input { 
    @apply bg-brand-background rounded border-2 focus:ring-0 
  }

  .pink-focus {
    @apply focus:ring-offset-0 focus:border-brand-pink focus:bg-brand-pink focus:bg-opacity-10
  }
  
  .teal-focus {
    @apply  focus:ring-0 focus:ring-offset-0 focus:border-brand-teal
  }

  .brutal-shadow {
    @apply shadow-[2px_2px_0px_rgba(0,0,0,100)]
  }

  .brutal-inner-shadow {
    @apply shadow-[-2px_-2px_0px_rgba(0,0,0,100)]
  }
  
}

@layer utilities {
   link {
    @apply text-blue-600 hover:underline;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
